__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
build/
dist/
*.log

# Virtual envs
venv/
.venv/
env/
ENV/
pip-wheel-metadata/

# Editors/OS
.idea/
.vscode/
.DS_Store

# Node (if any)
node_modules/

# Secrets
.env
.env.*
*.key
*.pem

# Streamlit cache
.streamlit/
